@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
  transition: transform /*cubic-bezier(0.46, 0.38, 0.46, 0.38)*/ linear
   999.1ms;
  transform: perspective(10px) translate3d(10px, 10px, 10px)
}
/* body{ */
  /* user-select: none; */
/* } */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
